section.discount
  .container
    .discount__body
      ul.discount-list
        li.discount-list__item
          .discount-list__img
            img(src="img/discount-1.png", alt="a man in a t-shirt")
          .discount-list__content
            .discount-list__title
              p Акции- Новая серия
            .discount-list__text
              p Мужские футболки с модными принтами в стиле Хайтек
        li.discount-list__item
            .discount-list__img.discount-list__img--width
              img(src="img/discount-2.png", alt="a man in a t-shirt")
            .discount-list__content
              .discount-list__title
                p Успей до 10.04
              .discount-list__text
                p Распродажа со скидками до 50%. Мужские футболки всех размеров.
        li.discount-list__item
          .discount-list__img.discount-list__img--width
            img(src="img/discount-3.png", alt="a man in a t-shirt")
          .discount-list__content
            .discount-list__title
              p Скидки до 45%
            .discount-list__text
              p На все футболки серии Лето 2019 при заказе от 2000 грн.
