footer.footer
  .container
    .footer__body
      .footer-left
        .footer-left__text
          p &#169;2020 HECTOR Все права защищены 
      .footer-center  
        ul.footer-center__list
          li.footer-center__item
            a.footer-center__link(href="#") Политика конфиденциальности
          li.footer-center__item 
            a.footer-center__link(href="#") Условия продажи
      .footer-right
        .footer-right__text
          p Design and <br>development
        .footer-right__logo
          img(src="img/footer-logo.svg", alt="logo galaxy")

     
        