section.info
  .container
    .info__body
      .info-left
        .info-left__img
          img(src="img/info-logo.svg", alt="logo")
      .info-center
        ul.info-center-list
          li.info-center-list__item
            .info-center-list__title
              h2 О КОМПАНИИ
            ul.info-center-list__list
              li.info-center-list__list-item
                ul.info-center-list__list-left
                  li.info-center-list__list-left-item
                    a.info-center-list__list-link(href="#") Доставка и оплата одежды
                  li.info-center-list__list-left-item
                    a.info-center-list__list-link(href="#") Политика
                  li.info-center-list__list-left-item
                    a.info-center-list__list-link(href="#") конфиденциальности
              li.info-center-list__list-item
                ul.info-center-list__list-right
                  li.info-center-list__list-item-right
                    a.info-center-list__list-link(href="#") Опт
                  li.info-center-list__list-item-right
                    a.info-center-list__list-link(href="#") О Нас
                  li.info-center-list__list-item-right
          li.info-center-list__item
            .info-center-list__title 
              h2 ЗАКАЗЧИКАМ
            ul.info-center-list__list
              li.info-center-list__list-item
                ul.info-center-list__list-left
                  li.info-center-list__list-left-item
                    a.info-center-list__list-link(href="#") Личный кабинет
                  li.info-center-list__list-left-item
                    a.info-center-list__list-link(href="#") История заказов
                  li.info-center-list__list-left-item
                    a.info-center-list__list-link(href="#") Закладки
              li.info-center-list__list-item
                ul.info-center-list__list-right
                  li.info-center-list__list-item-right
                    a.info-center-list__list-link(href="#") Возврат товара
                  li.info-center-list__list-item-right
                    a.info-center-list__list-link(href="#") Обратная связь
                  li.info-center-list__list-item-right
      .info-right
        .info-right__top
          ul.info-right-tellist
            li.info-right-tellist__item
              a.info-right-tellist__link(href="tel:+380683460475") +38 068 346 04 75
            li.info-right-tellist__item
              a.info-right-tellist__link(href="tel:+380664003814") +38 066 400 38 14
        .info-right__bottom
          ul.info-right-soclist
            li.info-right-soclist__item
              ul.info-right-soclist__list-left
                li.info-right-soclist__item-left
                  a.info-right-soclist__link(href="#") 
                    svg.info-right-soclist__svg(width="25" height="25")
                      use(href="img/icons/icons.svg#info-1")
                li.info-right-soclist__item-left
                  a.info-right-soclist__link(href="#") 
                    svg.info-right-soclist__svg(width="25" height="25")
                      use(href="img/icons/icons.svg#info-2")
                li.info-right-soclist__item-left
                  a.info-right-soclist__link(href="#") 
                    svg.info-right-soclist__svg(width="25" height="25")
                      use(href="img/icons/icons.svg#info-3")
            li.info-right-soclist__item
              ul.info-right-soclist__list-right
                li.info-right-soclist__item-right
                  a.info-right-soclist__link(href="#") 
                    svg.info-right-soclist__svg(width="25" height="25")
                      use(href="img/icons/icons.svg#info-4")
                li.info-right-soclist__item-right
                  a.info-right-soclist__link(href="#") 
                    svg.info-right-soclist__svg(width="25" height="25")
                      use(href="img/icons/icons.svg#info-5")
                li.info-right-soclist__item-right
                  a.info-right-soclist__link(href="#") 
                    svg.info-right-soclist__svg(width="25" height="25")
                      use(href="img/icons/icons.svg#info-6")

