section.main
  .container
    .main__body
      .main-left
        .main-left__content
          .main-left__title
            h1 МУЖСКАЯ <br>КОЛЛЕКЦИЯ
          .main-left__text
            p Распродажа коллекций со скидками до 50%, доставка до вашего склада
        .main-left__btn.main-btn
          a(href="#") ПОДРОБНЕЕ
      .main-right
        .main-right__img
          img(src="img/main-man.png", alt="man")
    