section.products
  .container
    .products__body
      .products-top
        ul.products-top-list
          li.products-top-list__item
            label.products-top-list__label(for="radio-1")
              input.products-top-list__input(type="radio" name="radio-btn" id="radio-1" checked)
              span.products-top-list__span Новинки
          li.products-top-list__item
            label.products-top-list__label(for="radio-2")
              input.products-top-list__input(type="radio" name="radio-btn" id="radio-2")
              span.products-top-list__span ТОП продаж
          li.products-top-list__item
            label.products-top-list__label(for="radio-3")
              input.products-top-list__input(type="radio" name="radio-btn" id="radio-3")
              span.products-top-list__span Скидки
      .products-bottom
        ul.products-bottom-list.main-card-list
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
        ul.products-bottom-list.main-card-list
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
            li.products-bottom-list__item.main-card-list__item   
              .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
              .products-bottom-list__content.main-card-list__content
                .products-bottom-list__top.main-card-list__top
                  ul.products-bottom-list__list-star.main-card-list__list-star
                    li.products-bottom-list__item-star.main-card-list__item-star
                      span.products-bottom-list__span-star.main-card-list__span-star
                        svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                          use(href="img/icons/icons.svg#products-star")
                    li.products-bottom-list__item-star.main-card-list__item-star
                      span.products-bottom-list__span-star.main-card-list__span-star
                        svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                          use(href="img/icons/icons.svg#products-star")
                    li.products-bottom-list__item-star.main-card-list__item-star
                      span.products-bottom-list__span-star.main-card-list__span-star
                        svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                          use(href="img/icons/icons.svg#products-star")
                    li.products-bottom-list__item-star.main-card-list__item-star
                      span.products-bottom-list__span-star.main-card-list__span-star
                        svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                          use(href="img/icons/icons.svg#products-star")
                    li.products-bottom-list__item-star.main-card-list__item-star
                      span.products-bottom-list__span-star.main-card-list__span-star
                        svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                          use(href="img/icons/icons.svg#products-star")
                  ul.products-bottom-list__list-size.main-card-list__list-size
                    li.products-bottom-list__item-size.main-card-list__item-size
                      span.products-bottom-list__span-size.main-card-list__span-size S
                    li.products-bottom-list__item-size.main-card-list__item-size
                      span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                    li.products-bottom-list__item-size.main-card-list__item-size
                      span.products-bottom-list__span-size.main-card-list__span-size L
                .products-bottom-list__bottom.main-card-list__bottom
                  .products-bottom-list__desc.main-card-list__desc
                    p Футболка мужская Exclusive 22032 
                  .products-bottom-list__price.main-card-list__price
                    span 245&#8372;
        ul.products-bottom-list.main-card-list
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
          li.products-bottom-list__item.main-card-list__item
            .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
            .products-bottom-list__content.main-card-list__content
              .products-bottom-list__top.main-card-list__top
                ul.products-bottom-list__list-star.main-card-list__list-star
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                  li.products-bottom-list__item-star.main-card-list__item-star
                    span.products-bottom-list__span-star.main-card-list__span-star
                      svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                        use(href="img/icons/icons.svg#products-star")
                ul.products-bottom-list__list-size.main-card-list__list-size
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size S
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                  li.products-bottom-list__item-size.main-card-list__item-size
                    span.products-bottom-list__span-size.main-card-list__span-size L
              .products-bottom-list__bottom.main-card-list__bottom
                .products-bottom-list__desc.main-card-list__desc
                  p Футболка мужская Exclusive 22032 
                .products-bottom-list__price.main-card-list__price
                  span 245&#8372;
            li.products-bottom-list__item.main-card-list__item   
              .products-bottom-list__img.main-card-list__img
              img(src="img/products-man.png", alt="man")
              .products-bottom-list__content.main-card-list__content
                .products-bottom-list__top.main-card-list__top
                  ul.products-bottom-list__list-star.main-card-list__list-star
                    li.products-bottom-list__item-star.main-card-list__item-star
                      span.products-bottom-list__span-star.main-card-list__span-star
                        svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                          use(href="img/icons/icons.svg#products-star")
                    li.products-bottom-list__item-star.main-card-list__item-star
                      span.products-bottom-list__span-star.main-card-list__span-star
                        svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                          use(href="img/icons/icons.svg#products-star")
                    li.products-bottom-list__item-star.main-card-list__item-star
                      span.products-bottom-list__span-star.main-card-list__span-star
                        svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                          use(href="img/icons/icons.svg#products-star")
                    li.products-bottom-list__item-star.main-card-list__item-star
                      span.products-bottom-list__span-star.main-card-list__span-star
                        svg.products-bottom-list__svg-star.main-card-list__svg-star(width="26" height="24")
                          use(href="img/icons/icons.svg#products-star")
                    li.products-bottom-list__item-star.main-card-list__item-star
                      span.products-bottom-list__span-star.main-card-list__span-star
                        svg.products-bottom-list__svg-star.main-card-list__svg-star.main-card-list__svg-star--color(width="26" height="24")
                          use(href="img/icons/icons.svg#products-star")
                  ul.products-bottom-list__list-size.main-card-list__list-size
                    li.products-bottom-list__item-size.main-card-list__item-size
                      span.products-bottom-list__span-size.main-card-list__span-size S
                    li.products-bottom-list__item-size.main-card-list__item-size
                      span.products-bottom-list__span-size.main-card-list__span-size.main-card-list__span-size--color M
                    li.products-bottom-list__item-size.main-card-list__item-size
                      span.products-bottom-list__span-size.main-card-list__span-size L
                .products-bottom-list__bottom.main-card-list__bottom
                  .products-bottom-list__desc.main-card-list__desc
                    p Футболка мужская Exclusive 22032 
                  .products-bottom-list__price.main-card-list__price
                    span 245&#8372;
        .products-bottom__btn.main-btn
          a(href="#") Посмотреть каталог