section.reviews
  .container
    .reviews__body
      .reviews-top
        ul.reviews-top-list
          li.reviews-top-list__item
            label.reviews-top-list__label(for="radio-4")
              input.reviews-top-list__input(type="radio" name="radio2" id="radio-4" )
              span.reviews-top-list__span Новости
          li.reviews-top-list__item
            label.reviews-top-list__label(for="radio-5")
              input.reviews-top-list__input(type="radio" name="radio2" id="radio-5")
              span.reviews-top-list__span Отзывы
    .reviews-bottom
      ul.reviews-bottom-list
        li.reviews-bottom-list__item
          .reviews-bottom-list__content
            .reviews-bottom-list__title
              h2 Тренды мужской одежды 2020
            .reviews-bottom-list__text
              p Распродажа коллекций со до 50%, доставка до вашего склада
          .reviews-bottom-list__btn.main-btn
            a(href="#") ЧИТАТЬ
        li.reviews-bottom-list__item
          .reviews-bottom-list__content
            .reviews-bottom-list__title
              h2 Тренды мужской одежды 2020
            .reviews-bottom-list__text
              p Распродажа коллекций со до 50%, доставка до вашего склада
          .reviews-bottom-list__btn.main-btn
            a(href="#") ЧИТАТЬ