.info {
  padding-top: 190px;
  padding-bottom: 140px;

  background-color: #636363;
  background-image: url(../img/info-decor.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 100px;

  &__body {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}

.info-left {
  &__img {
    width: 175px;
  }
}

.info-center-list {
  display: flex;
  align-items: center;
  gap: 140px;
  margin-left: 195px;

  &__list {
    display: flex;
    align-items: flex-start;
    gap: 30px;
  }

  &__title {
    font-weight: 700;
    font-size: 30px;
    line-height: 1.2;
    margin-bottom: 64px;

    color: $white;
  }

  &__list-link {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    display: inline-block;
    transition: 250ms linear;

    color: rgba(255, 255, 255, 0.75);

    &::after {
      position: absolute;
      content: "";
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;

      transform: scaleX(0);
      transform-origin: bottom right;
      transition: transform 250ms linear;

      background-color: $white;
    }

    &:hover::after,
    &:focus::after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }

    &:hover,
    &:focus {
      color: $white;
    }
  }
}

.info-right {
  margin-left: auto;

  &__top {
    margin-bottom: 45px;
  }
}

.info-right-tellist {
  &__link {
    font-weight: 400;
    font-size: 30px;
    line-height: 1.7;
    transition: 250ms linear;
    color: $white;

    &:hover,
    &:focus {
      color: rgba(255, 255, 255, 0.638);
    }
  }
}

.info-right-soclist {
  display: flex;
  align-items: center;
  gap: 60px;

  &__list-left {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__list-right {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  &__link {
    display: block;
    transition: 250ms linear;

    &:hover,
    &:focus {
      transform: scale(1.1);

      .info-right-soclist__svg {
        fill: rgba(255, 255, 255, 0.642);
      }
    }
  }

  &__svg {
    fill: $white;
  }
}
