html 
  head 
    include html/head
  body 
    .wrapper
      include html/header
      main
        //- MAIN
        include html/main
        //- DISCOUNT
        include html/discount
        //- PRODUCTS
        include html/products
      include html/footer
    script(src="js/app.min.js")

